@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f0f4f8;
    font-family: 'Poppins', sans-serif;
}

.login-container {
    display: block;
    width: 50%;
}

nav {
    background-color: #2c3e50;
    color: white;
    margin: 0;
    padding: 0.7em 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 5px 5px 15px rgb(175, 212, 232);
    width: 100%;
}

nav a {
    color: white;
    margin: auto 20px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    text-decoration: none;
    background-color: #527b89;
    padding: 10px 15px;
    border-radius: 5px;
}

#app {
    max-width: 100%;
    border-radius: 8px;
}

nav h2 {
    margin-bottom: 1em;
    color: #dbf4fd;
    margin-left: 50px;
}

@media (max-width: 600px) {
    #app {
        padding: 1.5em;
    }

    nav {
        font-size: 14px;
    }

    nav a {
        margin: 0 5px;
    }
}

/*******************************  LOGIN *************************/

.login-container {
    width: 300px;
    padding: 20px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#loginBtn {
    width: 50%;
    padding: 10px;
    background: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

#loginBtn:hover {
    background: #0056b3;
}

#error-msg {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

/******************* VIEW FORMS**************************/

h1,
h2 {
    font-size: 1.5rem;
    color: #333;
    margin: 20px 0;
    text-align: center;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgb(212, 237, 251);
}

th,
td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    font-size: 1.1rem;
    color: #333;
    background: linear-gradient(to bottom, #e8eff3, #e8f3f9);
}

td {
    font-size: 1rem;
    color: #666;
}

.status {
    color: #28a745;
}

.status.inactive {
    color: #dc3545;
}

button,
.actions button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s;
}

.container {
    position: relative;
    padding: 20px;
}

.back-btn {
    position: absolute;
    left: 10px;
    top: 130px;
}

.back-btn {
    margin-left: 5px;
    background-color: black;
    border-radius: 0;
    color: white;
    padding: 5px 10px;
    font-family: 'Poppins', sans-serif;
}

.summary-container {
    display: flex;
    border: 1px solid #ddd;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to bottom, #e8eff3, #e8f3f9);
}


.approve-btn,
.actions button {
    background-color: white;
    color: #21a84b;
    border: 2px solid #21a84b;
    padding: 5px 10px;
}

.approve-btn:hover,
.actions button:hover {
    background-color: #8dbb9c;
}

.reject-btn,
.actions .delete {
    padding: 5px 10px;
    background-color: white;
    color: #ca2626;
    border: 2px solid #ca2626;
}

.reject-btn:hover,
.actions .delete:hover {
    background-color: #c76c6c;
}

.view-btn {
    background-color: #cdebf8;
    color: #0d506f;
    border: 2px solid #0d506f;
    padding: 5px 10px;
}

.view-btn:hover {
    background-color: #b8dced;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    background-color: black;
    color: white;
    padding: 6px 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 0;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.pagination button:hover {
    background-color: #629b7c;
    transform: scale(1.1);
}

.pagination button:disabled {
    background-color: #9dafa5;
    cursor: not-allowed;
}

#pageInfo {
    font-size: 18px;
    margin: 0 20px;
}

/***********************  CREATE FORMS   ************************/
#container {
    display: block;
    width: 50%;
    margin: auto;
    text-align: center;
}

#form-name-box {
    display: flex;
}

#form-name-label {
    padding-top: 5px;
    padding-right: 5px;;
}

#form-builder {
    margin: 20px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(255, 255, 255);
}

#form-name-error {
    justify-content: left;
}

input[type="checkbox" i] {
    background-color: black;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
    align-items: start;
    justify-content: left;

}

h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: flex;
    justify-content: flex-start;
    font-size: 0.9rem;
    margin: 5px 0;
    color: #333;
}

#form-name {
    box-shadow: 5px 5px 15px rgb(175, 212, 232);
    display: flex;
    justify-content: flex-start;
}

input,
select {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.validation-options {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    width: 100%;
    transform-origin: left;
    animation: expandWidth 0.5s ease-in-out;
}

.validation-options input[type="checkbox"] {
    width: 5%;
    height: 15px;
    margin-top: 5px;
    margin-left: 20px;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

button {
    padding: 10px 15px;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0083d8;
    color: white;
    transition: background-color 0.3s ease;
}

.question-content span {
    margin-top: 8px;
    margin-right: 2.5px;
}

#add-question {
    padding: 5px 15px;
    background-color: #3f4346;
    font-size: 1.5rem;
    border-radius: 25px;
    margin: 15px 15px;
    font-weight: bold;
}

#add-question:hover {
    border-radius: 25px;
    justify-content: space-evenly;
}

#add-question:hover::after {
    content: " Add Question";
    font-size: 16px;
    padding: 0 10px;
    padding-bottom: 7px;
}

button:hover {
    background-color: #0056b3;
}

#questions-container {
    margin: 15px auto;
    padding: 10px;
    background: #f1f1f1;
    border-radius: 5px;
    background: linear-gradient(to bottom, #e4f4fd, #ffffff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 5px 5px 15px rgb(175, 212, 232);
}

.button-container {
    display: flex;
    margin-top: 10px;
    justify-content: flex-start;
}

.question-config {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.question-config label {
    margin-right: 5px;
}

.configure-validations {
    width: 100%;
}

.question-content {
    flex-grow: 1;
}

.question-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.question-actions button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.2s;
}

.question-actions button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.icon-button {
    width: 24px;
    height: 24px;
    display: block;
}

.validation-label {
    text-align: left;
    width: 100%;
    display: block;  
    margin-bottom: 5px; 
}

.options-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hidden-input {
    display: none;
}

.option-wrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 8px;
    margin-top: 5px;
}

.option-input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-btn,
.remove-btn {
    padding: 0;
    margin: 0;
    background-color: white;
    border: none;
    cursor: pointer;
}

.add-icon,
.remove-icon {
    width: 30px;
    height: 30px;
}

.remove-btn {
    margin-top: 5px;
}


/*************       RESPONSE          ****************/

.containerBox {
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

#response-details {
    text-align: left;
}

/************          USER       *******************/

.containerCards {
    display: block;
}

#forms-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.form-card {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 0px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.form-card:nth-child(even) {
    border-top: 3px solid #1b6b96;
}

.form-card:nth-child(odd) {
    border-top: 3px solid #a43848;
}

.form-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.form-card h3 {
    font-size: 1.1rem;
    color: #333;
    margin: 0;
}

.form-card p {
    font-size: 0.9rem;
    color: #666;
    margin: 10px 0 0;
}

.view-button {
    display: inline-block;
    padding: 4px 10px;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1.5px solid black;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-top: 10px;
    transition: background-color 0.2s ease;
}

.view-button:hover {
    background-color: #c4c4c4;
}

/*******************    USER FORM     ************************/
#dynamicForm {
    margin: auto;
}

form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
    padding: 10px 0;
}

.form-group label {
    display: block;
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.form-group input[type="file"] {
    padding: 3px;
    font-family: 'Poppins', sans-serif;
}

.form-group input[type="checkbox"],
.form-group input[type="radio"],
.option-group input[type="radio"],
.option-group label,
.form-group select {
    width: auto;
    cursor: pointer;
}

.option-group select {
    width: 100%;
}

.option-group input[type="checkbox"] {
    padding-right: 2px;
}

.submit-btn {
    background-color: white;
    color: #324367;
    border: 2px solid #324367;
    border-radius: 0;
    padding: 10px 15px;
    font-family: 'poppins', 'serif';
    font-size: 0.9rem;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #95a5c6;
    transform: translateY(-2px);
}

.error {
    color: red;
    font-size: 0.9rem;
}

input[type="file"] {
    padding: 10px;
    color: #586061;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #586061;
    font-family: 'Poppins', sans-serif;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: #f0f4f8;
    color: #586061;
    padding: 10px 15px;
    border: 0.5px solid #586061;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #aec5d3;
}